body,th,td,select,input,div,form,textarea,center,option,pre,blockquote {font-size:12px; font-family:"±¼¸²", "±¼¸²Ã¼"; color:#666666;line-height:18px}

a {selector-dummy: expression(this.hideFocus=true);}


body
{
scrollbar-face-color: #ECECE3; scrollbar-shadow-color: #CCCCC; scrollbar-highlight-color: #CCCCC; 
scrollbar-3dlight-color: #CCCCC; scrollbar-darkshadow-color: #FFFFFF; 
scrollbar-track-color: #CCCCC; scrollbar-arrow-color: #1B1B1B
}

.maintxt {
	font-family: "±¼¸²";
	font-size: 12px;
	line-height: 18px;
	color: 666666;
	text-decoration: none;
}
a:link {
	font-family: "±¼¸²";
        font-size: 12px;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-family: "±¼¸²";
        font-size: 12px;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}
a:hover {
	font-family: "±¼¸²";
        font-size: 12px;
	line-height: 18px;
	color: #0099CC;
	text-decoration: none;
}

.small {
	font-family: "±¼¸²";
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.table1 th {color:#6b9e5b; text-align:center;}
.table1 td {text-align:center;}
.txt_L {text-align:left;}