/* 2012-05-01 websiting ¿€º∫ */
.topmenu{width:100%; background:URL(../img/topmenubg.gif) repeat-x; height:140px; position:absolute; top:0px; left:0px; z-index:100; text-align:center;}
.topmenuflash{margin:0 auto; width:1000px; text-align:center;}
	.topmenusub{width:100%; height:140px; position:absolute; top:0px; left:0px; z-index:100; text-align:left;}
	.topmenuflashsub{width:100%; background:URL(../img/topmenubg.gif) repeat-x; text-align:left; position:relative; top:0px; left:0px; z-index:100;}
.mainflasharea{width:100%; height:570px;}
.clearb{clear:both;}
.mcp{width:100%; height:150px; text-align:center; background:URL(../img/mcpbg.gif) repeat-x; background-color:#f0f0f0;}
.mcp1{padding-top:30px;width:1000px; margin:0 auto;}
.mcp01{float:left; border-right:1px solid #e0e0e0; height:95px; width:160px; text-align:center;}
.mcp02{float:left; text-align:left; width:560px;}
	.mcp02 address{height:35px; padding-left:25px;}
	.mcp02 address img{margin-bottom:5px;}
	.mcp02 p{margin:0px; padding:0px 0px 0px 25px;}
	.mcp021{padding-left:25px; height:35px;}
	.mcp021 ul{list-style:none;padding:0px; margin:0px;}
	.mcp021 li{list-style:none;padding:0px; margin:0px; float:left;}
.mcp03{float:right; width:225px; text-align:center;}
	.mcp031{width:206px; height:105px; background:URL(../img/mstockbg.gif) no-repeat; text-align:center; padding-top:5px; margin:0 auto;}
	.mcp031 div{width:190px; margin:0 auto;}

.mban{width:1000px; margin:0 auto; border-top:1px solid #e0e0e0;}
	.mban ul{list-style:none;padding:0px; margin:0px;}
	.mban li{list-style:none;padding:0px; margin:0px; float:left;padding-top:25px; padding-bottom:25px;}

.sfla{position:relative;left:0px; top:0px; z-index:1;}

.maincontentsar{width:1000px; margin:0 auto; text-align:center;}

.mainct{width:1000px; margin:0 auto; text-align:left; height:160px;}
.mainct01{float:left; text-align:left; width:370px;}
	.mainct011{padding-left:20px;}
.mainct02{float:left; text-align:left; border-left:1px solid #e5e5e5; height:135px;}
	.mainct021{padding-left:20px;}
.mainct03{float:right; text-align:left; width:232px; border-left:1px solid #e5e5e5; height:135px;}
	.mainct031{padding-left:20px;}

.mtab{width:320px; background:URL(../img/mtabbg.gif) repeat-x; height:29px;}
	.mtab ul{list-style:none;padding:0px; margin:0px;}
	.mtab li{list-style:none;padding:0px; margin:0px; float:left;}

.mtabon{ background:URL(../img/mtabbgon.gif) repeat-x; border-left:1px solid #cfcfd0; border-top:1px solid #cfcfd0; border-right:1px solid #cfcfd0; height:29px;}
	.mtabon a{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#000000; display:block; padding:5px 15px 5px 15px;}
	.mtabon a:link{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#000000;}
	.mtabon a:visited{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#000000;}
	.mtabon a:hover{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#000000;}

	.mtablink a{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; display:block; padding:5px 15px 5px 15px;}
	.mtablink a:link{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#656565;}
	.mtablink a:visited{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#656565;}
	.mtablink a:hover{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#000000;}

	.mtabline{ background:URL(../img/mtabline.gif) no-repeat; background-position:top right;}

	.mtabmore{width:50px; text-align:right;}

.mainlatest{padding-top:10px; width:320px; text-align:left;}
.mainlatest dl{margin:0px; padding:0px;list-style:square; text-align:left; color:#666666; width:310px;}
.mainlatest dt{width:210px; margin:0px; padding:0px 0px 5px 10px; text-align:left; clear:both;float:left; text-align:left;background:URL(../img/mldtdot.gif) no-repeat; background-position:0px 3px;}
	.mainlatest dt a:link{font-family:dotum; font-size:9pt; color:#656565;}
	.mainlatest dt a:visited{font-family:dotum; font-size:9pt; color:#656565;}
	.mainlatest dt a:hover{font-family:dotum; font-size:9pt; letter-spacing:-1px; font-weight:bold; color:#000000;}
.mainlatest dd{width:90px; margin:0px; padding:0px;float:right; text-align:right;font-family:dotum; font-size:8pt; color:#999999;}

.mltimg{width:100%; padding-bottom:5px;}
.mltimg a{display:block; cursor:pointer;font-family:gulim;}
.mltimg1{float:left; text-align:left; width:60px;}
.mltimg1 img{width:60px; height:40px;}
.mltimg2{float:right; text-align:left; text-align:left; line-height:1.2em; padding-top:2px;}
.mltimg2 dl{width:240px;}
.mltimg2 dd{width:240px; clear:both; text-align:left; line-height:1.2em; padding-top:2px;}
.mltimg2 b{font-family:gulim; font-size:9pt; color:#000000; letter-spacing:-1px;}




.subtitle{width:610px; height:64px; background:URL(../company/img/title_bg.gif) repeat-x;}
.sublocation{width:605px; text-align:right; color:#cccccc; padding-top:10px; height:20px;}
.sublocation span{font-family:gulim; font-size:8pt; color:#999999;}
.sublocation strong{font-family:gulim; font-size:8pt; color:#666666;font-weight:normal}


.subtab01{width:610px; height:62px; background:URL(../business/img/img35.gif) repeat-x;}


.subtable01{width:610px;border-top:2px solid #dbf4d3;border-collapse:collapse;border-spacing:0;}
.subtable01 th{color:#6B9E5B; background-color:#f4fcf1;border:1px solid #ebebeb; padding-top:8px; padding-bottom:8px; letter-spacing:-1px;}
.subtable01 td{ border:1px solid #ebebeb; color:#666666;}
.stb01l{text-align:center; background-color:#fafafa;padding:5px; color:#000000;}
.stb012{text-align:left;padding:5px;}
.stb013{text-align:center;padding:5px;}
.stb014{color:#444444; text-align:left; padding:15px;}
.stb015{text-align:left; background-color:#fafafa;padding:15px;}


.allmenunone{position:absolute; left:0px; top:0px; z-index:-99999999;}
.allmenu{position:absolute; left:0px; top:90px; z-index:999999999999999; width:100%; background-color:#02459b; filter:Alpha(opacity=80); opacity:0.8; -moz-opacity:0.8;}

.allmenu1{width:1000px; padding-left:27px; padding-top:20px; padding-bottom:20px;}

.allmenublock{float:left; height:160px;}
.allmenublock a{display:block; padding-left:10px; text-align:left;}
	.allmenublock a:link{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#d5d5d5; background-color:#02459b;}
	.allmenublock a:visited{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#d5d5d5; background-color:#02459b;}
	.allmenublock a:hover{font-family:dotum; font-size:8pt; letter-spacing:-1px; font-weight:bold; color:#000000; background-color:#ffffff;}

.am1{width:120px; border-right:1px solid #5281bb;}
.am2{width:107px; border-right:1px solid #5281bb;}
.am3{width:121px; border-right:1px solid #5281bb;}
.am4{width:133px; border-right:1px solid #5281bb;}
.am5{width:107px; border-right:1px solid #5281bb;}
.am6{width:109px; border-right:1px solid #5281bb;}
.am7{width:127px;}

.allmenuclose{width:990px; text-align:right; padding-bottom:20px}
	.allmenuclose a:link{font-family:gulim; font-size:10pt; font-weight:bold; color:#bee1fb;}
	.allmenuclose a:visited{font-family:gulim; font-size:10pt; font-weight:bold; color:#bee1fb;}
	.allmenuclose a:hover{font-family:gulim; font-size:10pt; font-weight:bold; color:#ffffff;}


.mb2{width:200px;height:30px;}
.mb21{ padding-top:10px;float:left; text-align:left; font-family:dotum; font-size:9pt; letter-spacing:-1px; color:#000000; font-weight:bold;}
.mb22{ padding-top:10px;float:right; text-align:right;}
.mb22 a{padding-left:3px;}


#wrapper {width:341px; margin:0px}

#slideshow {float:left; width:341px; height:91px;}
#slides {width:341px; height:91px; list-style:none; overflow:auto}
#slideshow ul {list-style:none; padding:0px; margin:0px;}
#slideshow li {list-style:none; width:341px; height:91px;padding:0px; margin:0px;}

.pagination {float:left; list-style:none;}
.pagination {list-style:none; padding:0px; margin:0px;}
.pagination li {list-style:none; float:left; cursor:pointer; background:URL("../img/mroll.gif") no-repeat; margin:0 0 0 8px; padding:0px; border:0px ; width:11px; height:11px;}
li.current {border:0px ; background:URL("../img/mroll_on.gif") no-repeat;}

li#content {width:341px; height:91px; padding:0px;}

.page{width:343px;height:30px;}
.page1{float:left; text-align:left; padding-top:10px; font-family:dotum; font-size:9pt; letter-spacing:-1px; color:#000000; font-weight:bold;}
.page2{float:right; text-align:left; padding-top:10px;}

.page ul{list-style:none; padding:0px; margin:0px;}
.page li{list-style:none; padding:0px;}
